.footer-wrap{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfc2bb;
    margin-top: 8px;
}
.footer-first-wrap{
    width: 100%;
    background-color: #eef1ea;
    display: flex; 
    justify-content: center;
    border-bottom: 2px solid gray;
}
.footer-first-list{
    width: 1600px;
    height: 225px;
    display: flex; 
    justify-content: center;
}
.footer-first-item{
    width: 25%;
    height: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    padding-top: 20px;
}
.footer-title{
    font-size: 24px;
    font-weight: 500;
}
.footer-content{
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}.icon-footer{
    font-size: 48px;
    color: gray;
}
.footer-end{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}
.footer-row1{
    width: 1600px;
    height: 182px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.footer-row1-item{
    position: relative;
    width: 25%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* border: 2px solid red; */
    line-height: 20px;
}
 h4{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}
.footer-row1-item li {
    position: absolute;
    left: 0;
    padding: 20px;
    margin: 20px;
 
}
.footer-row1-content p{
    height: 10px;
    line-height: 5px

}
.footer-row-end{
    width: 1600px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-top: 1px solid rgba(255,255,255,.5);
    margin-bottom: 30px;
    padding-top: 10px;

}
.footer-register{
    width: 50%;
}
.sendmail{
    display: flex;
    flex-direction: row;
}
.Email-icon{
    width: 80px;
    height: 40px;
    background-color:#FF9900;
    color: #fff;
    font-size: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
    

}
.Email-icon:hover{
    background-color: #61cdf5;
}
.footer-register input{ 
    width: 650px;
    height:40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #dddfdb;
    padding-left: 15px;
    font-size: 18px;
    opacity: .5;
}

.footer-conect{
    width: 50%;
    padding-left: 160px;
}
.social-btn{
    border: none;
    outline: none;
    background: none
}
