.container-nav{
    display: flex;
    justify-content: center;
    width:1900px;
    height: 50px;
    /* background-color:#38495C; */
    background-color:green;
    position: relative;
}
.navbar{
    position: absolute;
    width: 1600px;
    height: 50px;


}
.navbar-item{
    color:#f0f0f0;
}
.navbar-item span{
    font-size: 13px;
}
@media  (max-width: 576px) {
    .container-nav {
   display: none;
    }
    
  }
